In [22]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro
data = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data = pd.DataFrame({'col1':data,'col2':data})
print(np.ravel(data, order='F'))
print(data)
stat, p = shapiro(data)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably Gaussian')
else:
	print('Probably not Gaussian')

[ 0.873  2.817  0.121 -0.945 -0.055 -1.436  0.36  -1.478 -1.637 -1.869
  0.873  2.817  0.121 -0.945 -0.055 -1.436  0.36  -1.478 -1.637 -1.869]
    col1   col2
0  0.873  0.873
1  2.817  2.817
2  0.121  0.121
3 -0.945 -0.945
4 -0.055 -0.055
5 -1.436 -1.436
6  0.360  0.360
7 -1.478 -1.478
8 -1.637 -1.637
9 -1.869 -1.869
stat=0.870, p=0.012
Probably not Gaussian

In [16]:
data = np.ravel(data)
data

array([ 0.873,  0.873,  2.817,  2.817,  0.121,  0.121, -0.945, -0.945,
       -0.055, -0.055, -1.436, -1.436,  0.36 ,  0.36 , -1.478, -1.478,
       -1.637, -1.637, -1.869, -1.869])

In [1]:
from ml.preprocessing.hypothesis_testing import Tester

In [2]:
from ml.preprocessing.hypothesis_testing import Tester
t = Tester()

In [3]:
data = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
results = t.normality_test(data,test='dagostinos')
print('stat=%.3f, p=%.3f' % (results.statistic, results.p_value))
print(results)
if results.p_value > 0.05:
	print('Probably Gaussian')
else:
	print('Probably not Gaussian')

stat=3.392, p=0.183
statistic = 3.3918758941075353
 p-value = 0.18342710340675566
 sigificance = 0.05
 test = dagostinos
 result = True
 report: Warning!!! Test only valid for n>=20 (n = number of samples in data). The null hypothesis is accepted, thus the data was  drawn from a normal distributionSignificance level considered = 0.05,  test applied = dagostinos, p-value = 0.18342710340675566, test statistic = 3.3918758941075353
Probably Gaussian

/home/rodrigo/.local/lib/python3.7/site-packages/scipy/stats/stats.py:1604: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

In [6]:
from scipy.stats import shapiro
data = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
stat, p = shapiro(data,test='')
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably Gaussian')
else:
	print('Probably not Gaussian')

stat=0.895, p=0.193
Probably Gaussian

In [1]:
    import pandas as pd
    import numpy as np
    from ml.data_source.spreadsheet import Spreadsheet
    from ml.preprocessing.hypothesis_testing import Tester
    from ml.preprocessing.preprocessing import Preprocessing
    import seaborn as sns

In [1]:
import pandas as pd
import numpy as np
from ml.data_source.spreadsheet import Spreadsheet
from ml.preprocessing.hypothesis_testing import Tester
from ml.preprocessing.preprocessing import Preprocessing
import seaborn as sns

df = Spreadsheet().get_data('train.csv',columns=['Survived','Pclass','Sex','Age'])

In [2]:
df

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [28]:
from pingouin import chi2_independence, print_table

In [6]:
male_survived = df.loc[df['Sex'] == 'male', 'Survived']
female_survived = df.loc[df['Sex'] == 'female', 'Survived']

In [10]:
tab = pd.crosstab(df['Survived'], df['Sex'])

In [18]:
df_teste = df.pivot(columns = 'Sex', values = 'Survived').fillna(0)

In [44]:
df.dtypes[['Survived', 'Sex']].tolist()

[dtype('int64'), dtype('O')]

In [65]:
(df.groupby(['Survived', 'Sex']).size() <= 5).sum()

0

In [67]:
expected, observed, stats = chi2_independence(df, 'Survived', 'Sex')

In [72]:
from scipy.stats import fisher_exact

In [2]:
tester = Tester()

In [5]:
tester.categorical_test(df, 'Sex', 'Survived', method='chi2')

Exception: Invalid method. Choose one of `fisher` or `chi2`.

In [73]:
table = pd.crosstab(df['Sex'], df['Survived'])

In [74]:
result = fisher_exact(table)

In [76]:
statistic, p_value = result

In [78]:
pd.DataFrame([('fisher exact', statistic, p_value)], columns = ['test', 'statistic', 'p_value'])

   statistic       p_value
0   0.080967  6.463922e-60

In [51]:
print_table(stats, '.6f')

test                   lambda        chi2       dof      pval    cramer     power
------------------  ---------  ----------  --------  --------  --------  --------
pearson              1.000000  260.717020  1.000000  0.000000  0.540936  1.000000
cressie-read         0.666667  260.413906  1.000000  0.000000  0.540621  1.000000
log-likelihood       0.000000  266.344480  1.000000  0.000000  0.546743  1.000000
freeman-tukey       -0.500000  276.922737  1.000000  0.000000  0.557494  1.000000
mod-log-likelihood  -1.000000  293.475958  1.000000  0.000000  0.573915  1.000000
neyman              -2.000000  349.098487  1.000000  0.000000  0.625943  1.000000

In [59]:
(expected <= 5).sum().sum()

0

In [38]:
print_table(expected.reset_index())

  Survived    female     male
----------  --------  -------
     0.000   193.475  355.525
     1.000   120.525  221.475

In [21]:
tab = pd.crosstab(df['Survived'], df['Sex'])

In [22]:
tab

Sex       female  male
Survived
0             81   468
1            233   109

In [23]:
for row in tab.iloc:
    for data in row:
        print(data)

81
468
233
109

In [32]:
from scipy.stats import chi2_contingency
from scipy.stats import fisher_exact
print(np.shape(tab))
stat, p1, _, _ = chi2_contingency(tab)
stat, p2 = fisher_exact(tab)

(2, 2)

In [1]:
import pandas as pd
import numpy as np
from ml.data_source.spreadsheet import Spreadsheet
from ml.preprocessing.hypothesis_testing import Tester
from ml.preprocessing.preprocessing import Preprocessing
import seaborn as sns

df = Spreadsheet().get_data('train.csv',columns=['Survived','Pclass','Sex','Age'])
p = Preprocessing()
df = p.categ_encoding(df)
df = p.clean_data(df)
df

INFO:root:Category encoding
INFO:root:Cleaning data

     Survived  Pclass   Age  Sex_female  Sex_male
0           0       3  22.0           0         1
1           1       1  38.0           1         0
2           1       3  26.0           1         0
3           1       1  35.0           1         0
4           0       3  35.0           0         1
..        ...     ...   ...         ...       ...
885         0       3  39.0           1         0
886         0       2  27.0           0         1
887         1       1  19.0           1         0
889         1       1  26.0           0         1
890         0       3  32.0           0         1

[714 rows x 5 columns]

In [2]:
print(df[df['Pclass'] == 3]['Age'].describe())
print(df[df['Pclass'] == 2]['Age'].describe())
print(df[df['Pclass'] == 1]['Age'].describe())

count    355.000000
mean      25.140620
std       12.495398
min        0.420000
25%       18.000000
50%       24.000000
75%       32.000000
max       74.000000
Name: Age, dtype: float64
count    173.000000
mean      29.877630
std       14.001077
min        0.670000
25%       23.000000
50%       29.000000
75%       36.000000
max       70.000000
Name: Age, dtype: float64
count    186.000000
mean      38.233441
std       14.802856
min        0.920000
25%       27.000000
50%       37.000000
75%       49.000000
max       80.000000
Name: Age, dtype: float64

In [3]:
from ml.preprocessing.hypothesis_testing import Tester
t = Tester()
print(t.categorical_test(df['Survived'], df['Sex_male']))

statistic = 205.0258275285591
 p-value = 1.6716678441395054e-46
 sigificance = 0.05
 test = chi2
 result = True
 report: Normality condition is satisfied. The alternative hypothesis is accepted, thus there is a dependency between the samples. Significance level considered = 0.05,  test applied = chi2, p-value = 1.6716678441395054e-46, test statistic = 205.0258275285591.

In [10]:
from ml.preprocessing.hypothesis_testing import Tester
t = Tester()
print(t.normality_test(df['Age']))
print('-----------------------------')
print(t.correlation_test(df['Age'], df['Pclass']))
print('-----------------------------')
print(t.categorical_test(df['Survived'], df['Sex_male']))
print('-----------------------------')
print(t.categorical_test(df['Survived'], df['Sex_male']).chi2)
print('-----------------------------')
print(t.categorical_test(df['Survived'], df['Sex_male'], test = 'fisher_exact'))

statistic = 0.9814548492431641
 p-value = 7.322165629375377e-08
 sigificance = 0.05
 test = shapiro-wilk
 result = False
 report: The alternative hypothesis is accepted, thus the data was not  drawn from a normal distribution. Significance level considered = 0.05,  test applied = shapiro-wilk, p-value = 7.322165629375377e-08, test statistic = 0.9814548492431641
-----------------------------
statistic = -0.36166557503434504
 p-value = 1.736017131547625e-23
 sigificance = 0.05
 test = spearman
 result = True
 report: Samples do not have normal distribution. The alternative hypothesis is accepted, thus there is correlation between the samples. Significance level considered = 0.05,  test applied = spearman, p-value = 1.736017131547625e-23, test statistic = -0.36166557503434504.
-----------------------------

TypeError: categorical_test() missing 2 required positional arguments: 'significance' and 'report'

In [28]:
p1

1.1973570627755645e-58

In [29]:
p2

6.463921564579045e-60

In [15]:
dof

2

In [16]:
expected

array([[133.09090909, 113.37373737, 302.53535354],
       [ 82.90909091,  70.62626263, 188.46464646]])